body {
    font-family: 'Golos Text', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin: 0px 0px;
    
}

.container {
    width: 100%;
    max-width: 1198px;
    margin: 0 auto;
    /* padding-left: 8%;
    padding-right: 8%; */
    box-sizing: content-box;
    overflow: hidden;
    padding: 0px 15px;
}

.header {
    display: inline-flex;
    align-items: center;
    column-gap: 485px;
    margin-top: 11px;
}

.home {
    display: inline-flex;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.option {
    font-weight: 500;
    line-height: 19px;
    text-decoration: none;
    color: black;
    padding-right: 18px;
}

.option:hover {
    color: #0077C0;
}

.btn1 {
    background: #0077C0;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    width: 124px;
    height: 39px;
    border: none;
}

h1 {
    font-weight: 700;
    line-height: 75px;
    font-size: 60px;
    margin-bottom: 0;
}

.recruit-top-talented {
    display: inline-flex;
}

.recruit-left {
    width: 50%;
    margin-top: 90px;
}

.recruit-right {
    width: 50%;

}

.img1 {
    width: 500px;
    margin-left: 160px;
    margin-top: 43px;
}

.recruit-bottom {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoss {
    width: 126px;
}

.our-platform {
    height: 702px;
    background: #0077C0;
}

.feature {
    text-align: center;
    color: white;
    padding: 60px 0;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: -0.5px;
    margin: 0;
}

.content1 {
    display: inline-flex;
    color: white;
}

h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.easy-platform {
    display: flex;
}

.easy-left {
    width: 50%;
    margin: 60px 0;
}

.easy-left img {
    width: 400px;
}

.easy-rig {
    width: 50%;
    margin: 100px 0;
}

.explore-and {
    background-color: #C7EEFF;
    height: 640px;
}

ol {
    list-style: none;
    counter-reset: item;
    margin-left: -37px;
}

li {
    counter-increment: item;
    margin-bottom: 12px;
}

li:before {
    margin-right: 12px;
    content: counter(item);
    background: #C7EEFF;
    border-radius: 100%;
    width: 26px;
    text-align: center;
    display: inline-block;
}

.explore {
    display: flex;
}

.explore-left {
    width: 50%;
    padding-top: 180px;
}

.explore-rig {
    width: 50%;
    padding-top: 40px;
    margin-left: 145px;
}

.ellipse {
    width: 500px;
    height: 600px;
}

.test {
    background-color: #FAFAFA;
    height: 960px;
}

.test-head {
    text-align: center;
    padding-top: 90px;
}

span {
    color: #0077C0
}

.content2 {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.cara {
    width: 356px;
    height: 272px;
    background: #FFFFFF;
}

.robert {
    width: 356px;
    height: 216px;
    background: #FFFFFF;
}

.howard {
    width: 356px;
    height: 328px;
    background: #FFFFFF;
}

.rating {
    position: absolute;
}

.name {
    color: black;
    position: relative;
    left: 60px;
}

.sub-content {
    margin: 12px;
}

.para4 {
    margin: 0;
}

.find-the-talent {
    height: 352px;
    background-color: #0077C0;
    margin: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn2 {
    background: white;
    border-radius: 10px;
    color: #0071D9;
    font-weight: 600;
    font-size: 18px;
    width: 124px;
    height: 39px;
    border: none;
    margin-top: 20px;
}

.talent {
    color: white;
    letter-spacing: 3px;
}

.footer {
    height: 360px;
    background: #1D242B;
    color: #D9DBE1;
}

.sub-footer {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    padding-top: 45px;
}

.btn3 {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-left: 10px;
    background-color: rgb(83, 78, 78);
    border: none;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
}

.heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: white;
}

.logo2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: white;
}

.connect {
    color: #D9DBE1;
    text-decoration: none;
    display: flex;
    padding-bottom: 20px;
}

.connect:hover {
    color: #C7EEFF;
}

input[type=email] {
    Width: 255px;
    Height: 40px;
    border-radius: 8px;
    background-color: rgb(83, 78, 78);
    color: white;
}

input::placeholder {
    color: white;
}

.inp {
    position: absolute;
}

.msg {
    height: 40px;
    width: 40px;
    background-color: rgb(83, 78, 78);
    border-radius: 8px;
    position: relative;
    bottom: 44px;
    left: 224px;
}

.fa {
    color: white;

}

.fa-paper-plane {
    padding-top: 10px;
}

.fa-bars {
    color: black;
    padding-right: 15px;
}

#bar {
    display: none;
}

button {
    cursor: pointer;
}

/******responsive******/
@media only screen and (max-width: 768px) and (min-width: 300px) {
    .container {
        box-sizing: border-box;
        padding-left: 5%;
        padding-right: 5%;
        /* min-height: 100vh; */
    }
    

    #bar {
        display: block;
    }

    #menu-li {
        width: 100%;
        display: grid;
        background-color: #0077C0;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    .option {
        color: white;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: unset;
    }

    .btn1 {
        font-size: 13px;
        width: 100px;
        height: 27px;
    }

    .recruit-top-talented {
        display: flex;
        flex-direction: column;
    }

    .recruit-left,
    .recruit-right {
        width: 100%;
    }

    h1 {
        line-height: 40px;
        font-size: 40px;
    }

    p {
        font-size: 13px;
        line-height: 20px;
    }

    .img1 {
        width: 400px;
        margin-top: 43px;
        margin-left: 0px;
    }

    .recruit-bottom {
        margin: 20px 0;
        flex-direction: column;
        row-gap: 16px;
    }

    .logoss {
        width: 100px;
    }

    h2 {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 1.5px;
    }

    .feature {
        padding: 20px 0;
    }

    .content1 {
        flex-wrap: wrap;
    }

    h4 {
        font-size: 20px;
        line-height: 0px;
    }

    .icon {
        width: 60px;
    }

    .easy-platform {
        flex-direction: column;
    }

    .easy-left,
    .easy-rig {
        width: 100%;
    }

    .easy-left img {
        width: 300px;
    }

    .easy-left {
        margin: 30px 0;
    }

    .easy-rig {
        margin: 0px;
    }

    .explore {
        flex-direction: column;
    }

    .explore-left,
    .explore-rig {
        width: 100%;
        margin-left: 0px;
        padding-top: 40px;
    }

    .ellipse {
        width: 290px;
        height: 308px;
    }

    .content2 {
        row-gap: 10px;
    }

    .cara {
        height: 180px;
    }

    .robert {
        height: 150px;
    }

    .howard {
        height: 230px;
    }

    .test {
        height: 1455px;
    }

    .find-the-talent {
        margin: 0px;
        justify-content: space-between;
        flex-direction: column;
        height: 380px;
    }

    .women {
        width: 200px;
    }

    .talent {
        width: 100%;
        box-sizing: border-box;
        padding: 10px
    }

    .btn2 {
        font-size: 13px;
        width: 100px;
        height: 27px;
        margin: 11px 0px;
    }

    .footer {
        height: unset;
    }

    .sub-footer {
        flex-direction: column;
        row-gap: 15px;
    }

    .heading {
        font-size: 16px;
    }

    .connect {
        font-size: 13px;
        padding-bottom: 10px;
    }

    .inp {
        position: unset;
    }
}